{% include 'CuetoIntranet/header.html' %}
<aside class="aside">
  <div class="aside-welcome">BIENVENIDO <br />{{ name }}</div>
  <div class="aside-menu">
    <ul>
      <li>
        <div class="menu-main">
          <a href=""
            ><div class="aside-line"></div>
            <i class="fa-solid fa-house"></i>Inicio</a
          >
        </div>
      </li>
      <li>
        <div class="menu-main menu-main-sub">
          <div class="aside-line"></div>
          <i class="fa-solid fa-folder-open"></i>Mi información<i
            class="fa-solid fa-caret-right li-right"
          ></i>
        </div>
        <ul class="submenu">
          <li>Mi Perfil</li>
          <li>Historial Académico</li>
          <li>Formulario de Datos</li>
        </ul>
      </li>
      <li>
        <div class="menu-main menu-main-sub">
          <div class="aside-line"></div>
          <i class="fa-solid fa-pen-to-square"></i>Matricula<i
            class="fa-solid fa-caret-right li-right"
          ></i>
        </div>
        <ul class="submenu">
          <li>Matrícula Vía Internet</li>
          <li>Programación de Cursos</li>
          <li>Cambio de Turno</li>
        </ul>
      </li>
      <li>
        <div class="menu-main menu-main-sub">
          <div class="aside-line"></div>
          <i class="fa-solid fa-file"></i>Reportes<i
            class="fa-solid fa-caret-right li-right"
          ></i>
        </div>
        <ul class="submenu">
          <li>Reporte Pre-Matrícula</li>
          <li>Reporte Matrícula</li>
          <li>Reporte Evaluaciones</li>
        </ul>
      </li>
      <li>
        <div class="menu-main menu-main-sub">
          <a href="">
            <div class="aside-line"></div>
            <i class="fa-solid fa-clock"></i>Asistencia
          </a>
        </div>
      </li>
      <li>
        <div class="menu-main">
          <a href=""
            ><div class="aside-line"></div>
            <i class="fa-solid fa-book"></i>Plan de Estudio</a
          >
        </div>
      </li>
      <li>
        <div class="menu-main">
          <a href=""
            ><div class="aside-line"></div>
            <i class="fa-solid fa-right-from-bracket"></i>Salir</a
          >
        </div>
      </li>
    </ul>
  </div>
</aside>
