{% include 'CarlosCueto/header.html' %}
<main class="administracion programs">
  <section
    class="cover-img__programs cover-img__administracion"
    style="background-image: url(' {{url_for('static',filename='img/img-programs/administracion.jpg') }} ');"
  >
    <div class="cover-img__overlay"></div>
    <div class="cover-img__text-container">
      <div class="cover-img__title">ADMINISTRACION DE EMPRESAS</div>
      <div class="cover-img__subtitle">
        Serás un profesional técnico en Administración de Empresas que gestione
        con liderazgo los procesos de una organización
      </div>
      <a href="#form" class="cover-img__button">CONOCE MÁS</a>
    </div>
  </section>
  <section class="submenu__programs submenu__administracion">
    <div class="submenu__programs-container">
      <a href="#acerca" class="submenu__programs-about">
        ACERCA DE LA CARRERA
        <div class="line-programs"></div>
      </a>
      <a href="#campo-laboral" class="submenu__programs-labor">
        CAMPO LABORAL
        <div class="line-programs"></div>
      </a>
      <a href="#syllabus" class="submenu__programs-syllabus">
        PLAN DE ESTUDIOS
        <div class="line-programs"></div>
      </a>
    </div>
  </section>
  <section class="about__programs about__administracion" id="acerca">
    <div class="about__what-is">
      <div class="about__what-is__title">
        <h3>¿QUÉ ES ADMINISTRACIÓN DE EMPRESAS?</h3>
        <div class="program-underline"></div>
      </div>
      <div class="about__what-is__text program-text">
        La administración de empresas es el proceso de planificación,
        organización, dirección y control de los recursos de una empresa con el
        objetivo de alcanzar sus metas y objetivos.<br /><br />Es una disciplina
        clave en el mundo de los negocios y se aplica en todo tipo de
        organizaciones, desde pequeñas empresas hasta grandes corporaciones y
        organizaciones sin fines de lucro.
      </div>
    </div>
    <div class="about__slide">
      <img
        src="{{ url_for('static',filename='img/img-programs-slide/administracion1.png') }}"
        alt=""
        class="about__slide-img active"
      />
      <img
        src="{{ url_for('static',filename='img/img-programs-slide/administracion2.png') }}"
        alt=""
        class="about__slide-img"
      />
      <img
        src="{{ url_for('static',filename='img/img-programs-slide/administracion3.png') }}"
        alt=""
        class="about__slide-img"
      />
      <img
        src="{{ url_for('static',filename='img/img-programs-slide/administracion4.png') }}"
        alt=""
        class="about__slide-img"
      />
    </div>
    <div class="about__what-does">
      <div class="about__what-does__title">
        <h3>
          ¿QUE FUNCIONES REALIZA UN TECNICO EN ADMINISTRACIÓN DE EMPRESAS?
        </h3>
        <div class="program-underline"></div>
      </div>
      <div class="about__what-does__text program-text">
        Un técnico en administración de empresas realiza una variedad de
        funciones importantes para el éxito de una organización.
        <br /><br />
        Planificación y organización, gestión de recursos humanos, marketing son
        algunas de las habilidades que aprenderás en esta carrera.
      </div>
    </div>
  </section>
  <section
    class="labor-field__programs labor-field__administracion"
    id="campo-laboral"
  >
    <div class="labor-field__title">
      <h3>CAMPO LABORAL</h3>
      <div class="program-underline"></div>
    </div>
    <div class="labor-field__text program-text">
      Un técnico en administración de empresas tiene una amplia gama de opciones
      de trabajo en el mercado laboral.<br />
      Algunos posibles trabajos para un técnico en administración de empresas
      incluyen:
    </div>
    <ul class="labor-field__list">
      <li>
        <i class="fa-regular fa-circle-check"></i>Asistente administrativo
      </li>
      <li><i class="fa-regular fa-circle-check"></i>Analista de negocios</li>
      <li><i class="fa-regular fa-circle-check"></i>Gerente de operaciones</li>
      <li><i class="fa-regular fa-circle-check"></i>Analista financiero</li>
      <li>
        <i class="fa-regular fa-circle-check"></i>Especialista en marketing
      </li>
      <li>
        <i class="fa-regular fa-circle-check"></i>Gerente de recursos humanos
      </li>
      <li><i class="fa-regular fa-circle-check"></i>Consultor empresarial</li>
    </ul>
  </section>
  <section id="syllabus" class="syllabus__programs syllabus__administracion">
    <div class="syllabus__programs-container">
      <div class="syllabus__programs-details">
        <div class="syllabus__programs__title">
          <h3>¿QUE CURSOS ESTUDIARE EN ADMINISTRACIÓN DE EMPRESAS?</h3>
          <div class="program-underline"></div>
        </div>
        <div class="syllabus__programs__text program-text">
          Nuestra malla curricular en Administración de Empresas destaca por
          ofrecerte una formación holística en habilidades blandas y en
          conocimiento técnico avanzado.
          <br /><br />
          Dentro de la carrera podrás adquirir habilidades y conocimientos
          necesarios para gestionar de manera efectiva y eficiente una empresa u
          organización en cualquier sector
        </div>
      </div>
      <div class="syllabus__programs-img">
        <img
          src="{{ url_for('static',filename='img/img-programs/administracion-cursos.jpg')}}"
          alt=""
          class="syllabus__programs-imagen"
        />
      </div>
      <div class="syllabus__programs-syllabus">
        <div class="syllabus__programs-syllabus-container">
          <div class="syllabus-container">
            <div class="syllabus-item active">
              <div class="syllabus-item-text">
                <div class="syllabus-item-text-cycle active">CICLO</div>
                <div class="syllabus-item-text-number active">01</div>
              </div>
              <div class="syllabus-line-complete">
                <div class="syllabus-line-part active"></div>
              </div>
              <ul class="syllabus-curses">
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Planificación Y
                  Organización
                </li>
                <li><i class="fa-solid fa-chevron-right"></i>Producción</li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Gestión De Recursos
                  Humanos
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Administración
                  Logística
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Técnicas De
                  Comunicación
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Lógica Y Funciones
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Cultura Física Y
                  Deporte
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Informática E
                  Internet
                </li>
              </ul>
            </div>
            <div class="syllabus-item">
              <div class="syllabus-item-text">
                <div class="syllabus-item-text-cycle">CICLO</div>
                <div class="syllabus-item-text-number">02</div>
              </div>
              <div class="syllabus-line-complete">
                <div class="syllabus-line-part"></div>
              </div>
              <ul class="syllabus-curses">
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Dirección Y Control
                  Empresarial
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Sistemas De
                  Compensación
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Gestión De Almacenes
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Administración
                  Publica
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Interpretación De
                  Textos
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Estadística General
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Cultura Artística
                </li>
                <li><i class="fa-solid fa-chevron-right"></i>Ofimática</li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Fundamentos de
                  Investigación
                </li>
              </ul>
            </div>
            <div class="syllabus-item">
              <div class="syllabus-item-text">
                <div class="syllabus-item-text-cycle">CICLO</div>
                <div class="syllabus-item-text-number">03</div>
              </div>
              <div class="syllabus-line-complete">
                <div class="syllabus-line-part"></div>
              </div>
              <ul class="syllabus-curses">
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Estadística
                  Empresarial
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Gestión De Marketing
                  Empresarial
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Comunicación
                  Comercial Y Atención Al Cliente
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Inglés Comercial
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Sociedad Y Economía
                  En La Globalización
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Medio Ambiente Y
                  Desarrollo Sostenible
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Investigación E
                  Innovación Tecnológica
                </li>
              </ul>
            </div>
            <div class="syllabus-item">
              <div class="syllabus-item-text">
                <div class="syllabus-item-text-cycle">CICLO</div>
                <div class="syllabus-item-text-number">04</div>
              </div>
              <div class="syllabus-line-complete">
                <div class="syllabus-line-part"></div>
              </div>
              <ul class="syllabus-curses">
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Investigación De
                  Mercado
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Comercio
                  Internacional
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Sistema De Ventas Y
                  Comercio Electrónico
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Marketing De
                  Servicios
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Comunicación
                  Interpersonal
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Proyecto De
                  Investigación E Innovación Tecnológica
                </li>
              </ul>
            </div>
            <div class="syllabus-item">
              <div class="syllabus-item-text">
                <div class="syllabus-item-text-cycle">CICLO</div>
                <div class="syllabus-item-text-number">05</div>
              </div>
              <div class="syllabus-line-complete">
                <div class="syllabus-line-part"></div>
              </div>
              <ul class="syllabus-curses">
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Operaciones Contables
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Legislación Comercial
                  Y Tributaria
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Gestión Financiera
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Formulación De
                  Proyectos De Investigación
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Comunicación
                  Empresarial
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Ética Profesional
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Organización Y
                  Constitución De Empresas
                </li>
                <li><i class="fa-solid fa-chevron-right"></i>Ofimática</li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Fundamentos de
                  Investigación
                </li>
              </ul>
            </div>
            <div class="syllabus-item">
              <div class="syllabus-item-text">
                <div class="syllabus-item-text-cycle">CICLO</div>
                <div class="syllabus-item-text-number">06</div>
              </div>
              <div class="syllabus-line-complete">
                <div class="syllabus-line-part"></div>
              </div>
              <ul class="syllabus-curses">
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Gestión
                  Presupuestaria
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Evaluación De
                  Proyectos De Investigación
                </li>
                <li><i class="fa-solid fa-chevron-right"></i>Auditoria</li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Liderazgo Y Trabajo
                  En Equipo
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Proyecto Empresarial
                </li>
                <li>
                  <i class="fa-solid fa-chevron-right"></i>Legislación E
                  Inserción Laboral
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="button1" value="1">
            <i class="fa-solid fa-circle-arrow-left"></i>
          </div>
          <div class="button2" value="2">
            <i class="fa-solid fa-circle-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="syllabus__programs-download">
        <a
          href="{{ url_for('static',filename='pdf/administracion.pdf') }}"
          download
          ><i class="fa-regular fa-file-pdf"></i>DESCARGAR PLAN DE ESTUDIOS</a
        >
      </div>
    </div>
  </section>
  <section class="form__programs form__administracion" id="form">
    <div class="form__programs-container">
      <div class="form__programs-form">
        <div class="form-title">SOLICITA MAS INFORMACION AQUI</div>
        <form class="form-container">
          <div class="form-name">
            <p>Nombre*</p>
            <input class="form-input" type="text" name="nombres" />
          </div>
          <div class="form-lastnameF">
            <p>Apellido Paterno*</p>
            <input class="form-input" type="text" name="apellidoPaterno" />
          </div>
          <div class="form-lastnameM">
            <p>Apellido Materno*</p>
            <input class="form-input" type="text" name="apellidoMaterno" />
          </div>
          <div class="form-email">
            <p>E-mail*</p>
            <input class="form-input" type="text" name="email" />
          </div>
          <div class="form-dni">
            <p>Número de documento*</p>
            <input class="form-input" type="text" name="documento" />
          </div>
          <div class="form-phone">
            <p>Celular*</p>
            <input class="form-input" type="text" name="celular" />
          </div>
          <div class="form-submit">
            <input type="submit" />
          </div>
        </form>
      </div>
      <div class="form__programs-img">
        <img
          src="{{ url_for('static',filename='img/img-programs/form.jpg') }}"
          alt=""
        />
      </div>
    </div>
  </section>
</main>
{% include 'CarlosCueto/jsprograms.html' %} {% include 'CarlosCueto/footer.html'
%}
