<footer class="footer">
    <div class="footer-container">
            <div class="footer-logos">
                <div class="footer-logo-cueto">
                    <img src="" alt="">
                </div>
                <div class="footer-logo-sn">
                    <ul>
                        <li><a href="https://www.facebook.com/joseph.omar.mt" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/OmarMeza72554" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/joseph.meza.torres/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/@Teloresumoasinomas" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Admisión</a></li>
                    <li><a href="">Programas de estudio</a></li>
                    <li><a href="">Contactanos</a></li>
                </ul>
            </div>
            <div class="footer-details">
                <div class="footer-details__text">
                    <div class="footer-details__name">
                        INSTITUTO DE EDUCACIÓN SUPERIOR TECNOLOGICO PÚBLICO<BR>CARLOS CUETO FERNANDINI
                    </div>
                    <div class="footer-details__address">
                        AV. TÚPAC AMARU S/N KM. 8 1/2, COMAS - LIMA
                    </div>
                    <div class="footer-details__rights">
                        TODOS LOS DERECHOS RESERVADOS
                    </div>
                </div>
            </div>
        </div>   
</footer>
</body>
</html>